git+ssh://git@github.com/ambilabs/ambi_utils.git@asyncio-plus#egg=ambi-utils
setuptools-scm==7.0.5
future-annotations==1.0.0
tokenize-rt==4.2.1
aiomysql==0.0.21
aredis==1.1.5
boto3==1.16.1
cachetools==4.1.1
cassandra-driver==3.24.0
click==7.1.2
cryptography==3.1.1
hiredis==0.3.1
joblib==1.0.0
numpy==1.19.1
pandas==1.0.5
pymongo==3.11.0
PyMySQL==0.9.2
python-json-logger==2.0.1
python-rapidjson==1.0
PyYAML==5.4.1
pyzmq==19.0.1
raven==6.10.0
# requests==2.19.1
requests-futures==1.0.0
scikit-learn==0.22.1
scipy==1.5.2
# tabulate==0.8.2
tenacity==6.2.0
# converted to cpu wheel when building the pex for torch
torch==1.4.0
tornado==6.1
tqdm==4.55.0
uvloop==0.14.0
voluptuous==0.12.1
pendulum==2.1.0
### dev ###
asynctest==0.13.0
Fabric3==1.14.post1
flake8==3.8.3
freezegun==1.1.0
mypy==0.800
pep8-naming==0.11.1
pex==1.6.12
pylint==2.4.4
pytest==5.4.3
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-rerunfailures==9.1.1
pytest-timeout==1.4.2
pytest-xdist==1.34.0
vulture==2.3
# XXX some of moto requirements are more lax (wrapt), pip resolve deps taking order into account
# so we put mote at the end for now
moto==1.3.13

